<form class="{{cssClass}} flexcol" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
			<div class="resources grid grid-2col">
				<div class="resource flex-group-center">
					<label for="data.stamina.value" class="resourse-label">Stamina</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input type="text" name="data.stamina.value" value="{{data.stamina.value}}" data-dtype="Number"/>
						<span> / </span>
						<input type="text" name="data.stamina.max" value="{{data.stamina.max}}" data-dtype="Number"/>
					</div>
				</div>
				<div class="resource flex-group-center">
					<label for="data.encumbrance.value" class="resourse-label">Encumbrance</label>
					<div class="resource-content flexrow flex-center flex-between">
						<input type="text" name="data.encumbrance.value" value="{{data.encumbrance.value}}" data-dtype="Number"/>
						<span> / </span>
						<input type="text" name="data.encumbrance.max" value="{{data.encumbrance.max}}" data-dtype="Number"/>
					</div>
				</div>
			</div>
			<h2>Attributes</h2>
			<div class="attribute grid grid-3col">
				{{#each data.attributes as |attribute key|}}
				<div class="attribute flexrow flew-group-center">
					<label for="data.attributes.{{key}}.value" class="resource-label">{{key}}</label>
					<input type="text" id="data.attributes.{{key}}.value" name="data.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="Number"/>
				</div>
				{{/each}}
			</div>
			<h2>Skills</h2>
			<div class="skill grid grid-3col">
				<div class="skills flexrow flew-group-center">
					<label class="resource-label" style="font-size:18px;font-weight:bold;">Name</label>
					<label class="resource-label" style="font-size:18px;font-weight:bold;">Value</label>
					<label class="resource-label" style="font-size:18px;font-weight:bold;">Increases</label>
				</div>
				{{#each data.skills as |skill key|}}
				<div class="skills flexrow flew-group-center">
					<label for="data.skills.{{key}}.value" class="resource-label">{{key}}</label>
					<span id="data.skills.{{key}}.value" name="data.skills.{{key}}.value">{{skill.value}}</span>
					<input type="text" id="data.skills.{{key}}.increases" name="data.skills.{{key}}.increases" value="{{skill.increases}}" data-dtype="Number"/>
				</div>
				{{/each}}
			</div>
		</div>
	</header>
	
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">Inventory</a>
		<a class="item" data-tab="description">Perks</a>
	</nav>

	{{#each perks as |perk key|}}
	<div class="perks flexrow flew-group-center">
		<button for="perks.{{key}}.description" data-toggle="collapse" data-target="perks.{{key}}.description">{{key}}</button>
		<span id="perks.{{key}}.description" name="perks.{{key}}.description">{{perk.description}}</span>
	</div>
	{{/each}}
	
	<section class="sheet-body">
	</section>
</form>