<form class="{{cssClass}} flexcol" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
			<h2>Description</h2>
			<div>
				<input type="text" id="data.description" name="data.description" value="{{data.description}}" data-dtype="text"/>
			</div>
		</div>
	</header>
	
	<section class="sheet-body">
	</section>
</form>